.intro {
  padding: 1rem 1rem 1rem 0;
}

.intro .picture {
  max-width: 375px;
}

.intro .picture img {
  display: block;
}

.intro .form {
  padding-inline: 2.5rem 2.5rem;
  max-width: 436px;
  order: -1;
}

.form .title {
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

.form .description {
  color: var(--GREY);
  margin-bottom: 1rem;
}

.form .list {
  list-style: none;
  margin-bottom: 2rem;
}

.form .list li {
  background: url("./assets/images/icon-list.svg") left center no-repeat;
  padding: 0.5rem 0 0.5rem 2rem;
}

.form .label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.label .valid-email-required {
  color: var(--PRIMARY-COLOR);
}

.form .email {
  padding: 0.5rem 0 0.5rem 1rem;
  border: 1px solid var(--GREY);
  margin-bottom: 1rem;
}

.form .email.error {
  color: var(--PRIMARY-COLOR);
  border: 1px solid var(--PRIMARY-COLOR);
  background-color: color-mix(
    in oklab,
    var(--PRIMARY-COLOR) 20%,
    var(--WHITE) 80%
  );
}

@media (max-width: 756px) {
  .intro .form {
    padding-inline: 1rem 1rem;
  }
  .form .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .form .description {
    margin-bottom: 0.5rem;
  }
  .form .list {
    margin-bottom: 1rem;
  }
  .form .email {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 576px) {
  .intro {
    padding: 0 0 3rem 0;
    border-radius: 0;
    flex-direction: column;
    gap: 2rem;
  }
  .intro .form {
    max-width: 375px;
    order: 1;
  }
  .form .title {
    margin-bottom: 1rem;
  }
  .form .description {
    margin-bottom: 1rem;
  }
  .form .list {
    margin-bottom: 2rem;
  }
  .form .email {
    margin-bottom: 1rem;
  }
}
